* {
    box-sizing: border-box;
    font-family: "Cambria Math", serif;
}

:root {
    --base-background: white;
    --base-color: black;
    --secondary-color: darkgray;
}

#app {
    background: var(--base-background);
    color: var(--base-color);
}

.layout {
    background: var(--base-background);
    color: var(--base-color);
    display: grid;
    grid-template-columns: auto 60em auto;
    grid-template-rows: 1fr auto 1fr;
}

.main {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

.theme-light {
    --base-background: white;
    --base-color: black;
    --secondary-color: darkgray;
}

.theme-dark {
    --base-background: black;
    --base-color: white;
    --secondary-color: darkgray;
}

.theme-navy {
    --base-background: navy;
    --base-color: white;
    --secondary-color: lightblue;
}

.theme-pink {
    --base-background: pink;
    --base-color: purple;
    --secondary-color: plum;
}

.button {
    background: var(--base-background);
    border: 0.2em solid var(--base-color);
    border-radius: 0.2em;
    color: var(--base-color);
    font-size: 1em;
    padding: 0.4em 0.6em 0.2em;
    margin-right: 0.3em;
    margin-bottom: 0.1em;
}

.button:hover {
    background: var(--base-color);
    color: var(--base-background);
}

.button:disabled {
    border-color: lightgray;
    color: lightgray;
}

.button:hover:disabled {
    background: lightgray;
    color: var(--base-background);
}

.button-secondary {
    border-color: var(--secondary-color);
}

.button-secondary:hover {
    background: var(--secondary-color);
    color: var(--base-background);
}

.button-list {
    display: inline;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-right: 0.4em;
}

.textbox {
    font-size: 1.2em;
    margin-left: 0.2em;
    background: var(--base-background);
    border: 0.1em solid var(--base-color);
    border-radius: 0.1em;
    color: var(--base-color);
}

.border {
    border: 0.1em solid darkgray;
    border-radius: 0.2em;
}

.border-focus {
    border: 0.1em solid var(--base-color);
    border-radius: 0.2em;
}

.border-done {
    border: 0.1em solid var(--secondary-color);
    border-radius: 0.2em;
}