* {
    box-sizing: border-box;
    font-family: "Cambria Math", serif;
}

.button {
    background: white;
    border: 0.2em solid black;
    border-radius: 0.2em;
    font-size: 1em;
    padding: 0.4em 0.6em 0.2em;
    margin-right: 0.3em;
    margin-bottom: 0.1em;
}

.button:hover {
    background: black;
    color: white;
}

.button:disabled {
    border-color: lightgray;
    color: lightgray;
}

.button:hover:disabled {
    background: lightgray;
    color: white;
}

.button-secondary {
    border-color: slategray;
}

.button-secondary:hover {
    background: slategray;
    color: white;
}

.button-list {
    display: inline;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-right: 0.4em;
}

.textbox {
    font-size: 1.2em;
    margin-left: 0.2em;
}

.border {
    border: 0.1em solid darkgray;
    border-radius: 0.2em;
}

.border-focus {
    border: 0.1em solid black;
    border-radius: 0.2em;
}

.border-done {
    border: 0.1em solid slategray;
    border-radius: 0.2em;
}

#todo {
    display: grid;
    grid-template-columns: auto 60em auto;
    grid-template-rows: 1fr auto 1fr;
}

.main {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}